version: '3.8'

services:
  backend:
    # Build using the Dockerfile in the current directory
    build:
      context: .
      dockerfile: Dockerfile

    container_name: sky-light-backend-prod

    # Map container port 3000 to external host port 6543
    ports:
      - "6543:3000"

    volumes:
      - .:/app

        #environment:
        #- SUPABASE_URL= 
        #- SUPABASE_KEY=


    command: npm run dev --workspace=apps/backend

    # Since there are no volumes, this container is fully self-contained
    # and runs independently of your local code changes.
    restart: always
